<html>
<body id="main-back">

<div class="topnav">
    <li>{{.Name}}</li>
</div>

<div class="topic-back" style="padding-left: 16px">
    <h2 id="title">Welcome to MOVIEDASH</h2>
</div>
<form method="post" id="signinsubmit" enctype="multipart/form-data" action="/import" style="
    width: 500px; margin: 0 auto;">
    <div class="container">
        <h1>Import File</h1>
        <hr>
        <input id="name" type="text" placeholder="请输入" name="name" required>
        <br>
        <input id="file" type="file" placeholder="select" name="file" required>
        <br>
        <hr>
        <button id="signinbtn" type="submit" class="registerbtn">Sign In</button>
    </div>

</form>
</body>
</html>